body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: aquamarine;
  margin-bottom: 1000px;
  padding: 50px 10px 0px 10px;
}

.header{
  position: absolute;
  font-size: 30px;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  border: 2px solid black;
  background-color: rgb(135, 192, 135);
}

.header p{
  margin: 10px 0px 10px 0px;
}

.sorting-box-container{
  display: flex;
  column-gap: 20px;
}

.sorting-box{
  width: 200px;
  padding: 10px;
  background-color: rgb(241, 187, 80);
  border-radius: 10px;
}

.sorting-box p{
  margin: 0;
  font-weight: bold;
}

.available-soup-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.available-soup-card{
  background-color: rgb(241, 187, 80);
  border-radius: 8px;
  padding: 4px 4px 4px 4px;
}

.available-soup-card .soup-name{
  font-weight: bold;
}
.available-soup-card img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0px 0px 6px 6px;
  border-radius: 8px;
  
}

.soup-and-desc{
  display: flex;
  column-gap: 10px;
}